.father {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.child {
  width: 200px;
  height: 200px;
  background-color: pink;
  color: white;
  font-size: 50px;
}

.child:nth-child(2) {
  background-color: #000;
  /* flex-shrink: 다른 div들보다 2배 더 줄어들게됨 */
  /* flex-shrink: 2; */

  /* flex-grow: default 0, 공간이 남는 경우, 그 공간을 다 차지하면서 커짐 */
  flex-grow: 1;
}

.child:nth-child(3) {
  flex-grow: 2;
}

/* align-self: 각각의 child 마다 다르게 설정 가능  */

/* .child:nth-child(2) {
  align-self: center;
}

.child:nth-child(3) {
  align-self: flex-end;
} */

/* order: default 값은 0. 처음 설정된 위치를 기준으로 움직임 */
/* .child:nth-child(2) {
  order: -1;
} */
